<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Alaeddin Alhamoud</title>
    @Styles.Render("~/Content/BootStrap")
    @Styles.Render("~/Content/Site")
    @Styles.Render("~/Content/font-awesome")
   
    
</head>
<body>
       <div  >
        
          
       
        @RenderBody()
       
    </div>
 
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ckeditor")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/MyFile")
    @RenderSection("scripts", required: false)
</body>
</html>