
@model IEnumerable<MyBlog.Data.Post>


        

    <table class="table table-hover table-responsive">
        <thead>
            <tr class="navbar-default">
                <th>RECENT ARTICLES</th>
                
            </tr>
        </thead>
        <tbody style="background-color:rgba(255,255,255,0.885);">
            @foreach (var item in Model)
            {
                <tr >

                    <td>

                        <a class="PostTitle truncateOpt" href="@Url.Action("Details", "Post", new { id = item.GenerateSlug() })">@item.Title</a>

                         @*
         @Html.ActionLink(item.Title, "Details", "Post",
    new
    {
        Id = @item.PostId,

    },
    new { @class = "truncateOpt" })
                        *@
                        <span class="badge" style="float:right;">@item.Frequence</span>
                    </td>


                </tr>
            }
        </tbody>
    </table>
  