<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>My Blog</title>
    <!-- Bootstrap Core CSS -->
    @Styles.Render("~/Content/BootStrap")
    <!-- Custom CSS -->
    <link href="~/Dashbord/css/sb-admin.css" rel="stylesheet">
   
    <!-- Custom Fonts -->
  

    @Styles.Render("~/Content/font-awesome")
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/index">
                    <i class="fa fa-medium fa-1x" aria-hidden="true"></i>y Blog
                </a>
            </div>

          
       
  
           
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="~/Account/SuperUserindex"><i class="fa fa-fw fa-dashboard"></i>SuperUser Dashboard</a>
                    </li>
                  
                    <li>
                        <a href="~/Post/SuperUserindex"><i class="fa fa-fw fa-comment"></i> Posts</a>
                    </li>
                    <li>
                        <a href="~/Comment/SuperUserIndex"><i class="fa fa-fw fa-comments-o"></i> Comments</a>
                    </li>
                    <li>
                        <a href="~/Comment/SuperUserCommentNeedAprove"><span class="fa fa-check-square-o" aria-hidden="true"></span> Commnets Need Aprove</a>
                    </li>
                   
                    <li>
                        <a href="~/Chart/index"><i class="fa fa-fw fa-bar-chart-o"></i> Reports</a>
                    </li>
                    

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Info!</strong> @TempData["message"]
                </div>

            }
            
            @RenderBody()

        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ImgUploder")

</body>
</html>
