@using X.PagedList.Mvc;
@using X.PagedList;

@model IPagedList<MyBlog.Data.Comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SuperUserDashbord.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div><span class="fa fa-comments-o fa-2x" aria-hidden="true"></span> Comments</div>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-responsive">
            <tr>
                <th>Author</th>
                <th>Comment</th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-md-4">
                        <div class="col-md-2">

                            <img class="img-responsive img-rounded" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">

                        </div><!-- /col-sm-1 -->
                        <div class="col-md-2">
                            <div>
                                <a class="truncateOpt" href="~/User/Details/@item.UserId">
                                    @item.UserDetails.FName  @item.UserDetails.LName
                                </a>
                            </div>

                            <div>
                                @*    @item.UserDetails.Email*@
                            </div>

                        </div>

                    </td>
                    <td class="col-md-8">

                        <div>
                            <small>Submitted on </small>@item.Create_time
                        </div>
                        <a class="truncateOpt" href="~/Post/Details/@item.PostId">
                            <div>
                                @Html.Raw(item.Comment_Content)
                            </div>
                        </a>
                        <div>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CommentId }) |

                            @Html.ActionLink("Delete", "Delete", new { id = item.CommentId })
                        </div>


                    </td>

                </tr>
            }

        </table>
    </div>
    <div class="panel-footer">
        <div class="pagination text-center">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>@*end of paging*@

    </div>

</div>



