@model MyBlog.Data.Setting
@{
    ViewBag.Title = "UpdateSetting";
    Layout = "~/Views/Shared/_Dashbord.cshtml";
}

<div class="container-fluid">
    @using (Html.BeginForm("UpdateSetting", "Setting", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4> <i class="fa fa-fw fa-cog fa-2x"></i>Website Settings</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.HiddenFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <i class="fa fa-fw fa-image"></i>
                            Upload Home Page Image
                        </div>


                        <div class="panel-body">

                           

                                    @Html.Action("UploadImage", "Image")


                             


                        </div>
                                <div class="panel-footer">
                                    <button class="btn btn-primary" type="button" onclick="copytxt();">
                                        <i class="fa fa-cloud-upload" aria-hidden="true"></i> Publish it
                                    </button>
                                </div>

                            </div>
                        </div>
            </div>
            <div class="form-group">

                @Html.LabelFor(model => model.HomeImage, htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">
                    @Html.EditorFor(model => model.HomeImage, new { htmlAttributes = new { @class = "form-control", id = "txtval2", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.HomeImage, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.HomeImageText, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HomeImageText, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HomeImageText, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NumberOfLastPost, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NumberOfLastPost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumberOfLastPost, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NumberOfCategory, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NumberOfCategory, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumberOfCategory, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PostNumberInPage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PostNumberInPage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PostNumberInPage, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NumberOfTopPost, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NumberOfTopPost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumberOfTopPost, "", new { @class = "text-danger" })
                </div>
            </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Update_Time, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Update_Time, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Update_Time, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserDetails.FName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10 input-group">
                        <button type="submit" class="btn btn-primary" aria-label="Left Align">
                            <span class="fa fa fa-pencil-square-o" aria-hidden="true"> </span> Update
                        </button>
                    </div>
                </div>
            </div>

            }

        </div>


                    <script type="text/javascript">
                        function copytxt() {
                            var x1 = document.getElementById('txtImg').value;
                            var x2 = document.getElementById('txtval2');
                            x2.value = x1;
                        }
                    </script>
